/**
 * Create by kirika 2016.3.22 for healc
 * style for header, footer, searchbar
 **/
@media (min-width: 1440px) {
  .content {
    width: 1200px;
  }
}
@media (min-width: 760px) {
  .content {
    width: 89%;
  }
}
@media (max-width: 760px) {
  .content {
    width: 89%;
  }
}
.content {
  margin: 0 auto;
}
.content:after {
  display: block;
  content: " ";
  clear: both;
}
.clearfix {
  clear: both;
}
#header {
  height: 100px;
  line-height: 100px;
  border-bottom: 1px #999 solid;
}
#header .left {
  float: left;
}
#header .left .logo {
  width: 120px;
  vertical-align: middle;
}
#header .right {
  float: right;
  text-align: right;
}
#header .right #chart,
#header .right #user {
  display: inline-block;
  width: 45px;
  height: 30px;
  vertical-align: middle;
  margin: 0 5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#header .right #chart {
  text-align: center;
  color: #fff;
  line-height: 27px;
  font-size: 13px;
  background-image: url('../img/che.png');
}
#header .right #user {
  background-image: url('../img/ren.png');
}
#header .nav {
  display: inline-block;
  float: right;
  margin-right: 15px;
}
#header .nav li {
  display: inline-block;
  margin: 0 20px;
}
@media (max-width: 760px) {
  #header .nav {
    display: block;
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  #header .nav li {
    padding: 0 1%;
    margin: 0;
    text-align: center;
  }
}
#footer {
  height: 400px;
  padding: 45px 0 50px;
  background-color: #eee;
  border-top: 1px #999 solid;
}
#footer .list {
  height: 200px;
  margin-bottom: 80px;
}
#footer .list dl {
  position: relative;
  display: block;
  float: left;
  width: 25%;
  height: 100%;
  border-right: 1px #ccc solid;
  padding: 0 4%;
}
#footer .list dl:last-of-type {
  border-right: none;
}
#footer .list dl dt {
  width: 130px;
  height: 35px;
  border-bottom: 2px #555 solid;
  line-height: 30px;
  font-size: 14px;
  margin-bottom: 5px;
}
#footer .list dl dd {
  line-height: 35px;
  font-size: 12px;
  color: #999;
}
#footer .list dl dd img {
  vertical-align: middle;
  margin: 10px 0;
}
#footer .copyright {
  font-size: 12px;
  text-align: center;
  color: #999;
}
@media (max-width: 760px) {
  #footer {
    display: none;
  }
}
.datu {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.datu .bg {
  position: relative;
  z-index: -1;
  width: 100%;
}
.datu .content {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  height: 100%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.searchaddr {
  width: 100%;
  padding: 70px 0;
  text-align: center;
}
.searchaddr h5 {
  font-size: 24px;
  font-weight: bold;
}
.searchaddr .searchbox {
  position: relative;
  width: 480px;
  height: 45px;
  line-height: 45px;
  margin: 40px auto;
  border: 1px #999999 solid;
  border-radius: 5px;
}
.searchaddr .searchbox input {
  height: 30px;
  line-height: 30px;
  width: 100%;
  padding: 0 75px 0 20px;
  font-size: 20px;
}
.searchaddr .searchbox #search {
  position: absolute;
  height: 45px;
  width: 75px;
  right: 0;
  top: 0;
  background-image: url('../img/search.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
@media (max-width: 760px) {
  .searchaddr .searchbox {
    width: 100%;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
.btn,
.radio {
  cursor: pointer;
}
