/**
 * Create by kirika 2016.3.23 for healc
 * style for itemlist, detail, chart and order
 **/
@import "init.less";
@gray:#999;
@border: 1px @gray solid;

.datu{
	.bg{
		max-height: 500px;
	}
}
.tab-group{
	width: 400px;
	height: 60px;
	margin: 40px auto;
	border-radius: 5px;
	border: @border;
	.tab{
		display: block;
		float: left;
		height: 100%;
		width: 50%;
		text-align: center;
		line-height: 60px;
		font-size: 20px;
		cursor: pointer;
		&:first-of-type{
			border-right: @border;
		}
	}
}
.healclist{
	&:after{
		content: " ";
		display: block;
		clear: both;
	}
}
	.healcitem{
		float: left;
		width: 50%;
		padding: 0 30px;
		margin-bottom: 50px;
		.img{
			display: block;
			width: 100%;
			background-color: #eee;
		}
		.title{
			font-size: 33px;
			font-weight: bold;
			margin: 20px 0 15px;
		}
		.option{
			li{
				position: relative;
				height: 40px;
				line-height: 40px;
				margin-top: 20px;
				font-size: 25px;
				padding-left: 60px;
			}
			.label{
				position: absolute;
				top: 0;
				left: 0;
			}
			.price{
				padding: 0 5px;
				font-size: 33px;
			}
			.radio-group,.numbox{
				display: inline-block;
			}
			.plus,.minus{
				display: inline-block;
				width: 40px;
				text-align: center;
				border: @border;
				cursor: pointer;
			}
			.num{
				width: 100px;
				text-align: right;
				padding-right: 10px;
				border-top: @border;
				border-bottom: @border;
			}
			.radio{
				display: inline-block;
				border: @border;
				padding: 0 25px;
				margin-right: 10px;
				cursor: pointer;
				&:last-of-type{
					margin-right: 0;
				}
			}
			.size{
				height: 35px;
				line-height: 35px;
				font-size: 20px;
				vertical-align: bottom;
				.radio{
					height: 35px;
					line-height: 35px;
				}
			}
		}
		.btn-group{
			margin-top: 20px;
			&>span{
				display: inline-block;
				width: 48%;
				max-width: 200px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				border-radius: 4px;
				border: @border;
				margin-right: 1%;
				font-size: 25px;
				cursor: pointer;
			}
		}
	}



.left{
	width: 50%;
	float: left;
	padding-top: 60px;
	&:after{
		content: " ";
		display: block;
		clear: both;
	}
	.detailimg{
		display: block;
		width: 100%;
	}
	.tab-group{
		width: 300px;
		height: 35px;
		line-height: 35px;
		margin: 25px auto;
		.tab{
			line-height: 35px;
			font-size: 17px;
		}
	}
	.describe{
		padding: 0 8%;
		li{
			position: relative;
			width: 100%;
			padding: 30px 6% 30px 40%;
			border-bottom: @border;
			min-height: 210px;
			img{
				position: absolute;
				width: 31%;
				left: 10px;
				top: 30px;
			}
			p{
				font-size: 18px;
				line-height: 1.7;
			}
		}
	}
}

.right{
	width: 49%;
	float: right;
	padding-top: 60px;
	&:after{
		content: " ";
		display: block;
		clear: both;
	}
	.healcitem{
		float: none;
		width: 100%;
		.option{
			li{
				margin-top: 30px;
			}
		}
		.sharebox{
			margin-top: 30px;
		.btn-group{
			display: inline-block;
			margin-top: 0;
			white-space: nowrap;
			&>span{
				width: auto;
				height: 35px;
				line-height: 35px;
				padding: 0 4%;
				margin-right: 5px;
				font-size: 15px;
			}
		}
		}
	}
}
@media (max-width:@MinWidth){
	.datu{
		display: none;
	}
	.tab-group{
		width: 100%;
	}
	.healcitem{
		width: 100%;
		.img{
		}
		.option{
			li{
				font-size: 16px;
				padding-left: 45px;
			}
			.radio{
				padding: 0 15px;
			}
			.num{
				width: 80px;
			}
		}
		.btn-group > span{
			font-size: 17px;
			width: 47%;
		}
	}
	.left{
		width: 100%;
	}
}

.chartlist{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 15px;
	text-align: center;
	.thead{
		height: 45px;
		line-height: 45px;
		background-color: #eee;
		border-bottom: 2px #555 solid;
	}
	.thead>div,.tbody>div{
		display: inline-block;
		&:nth-of-type(1){
			width: 5%;
		}
		&:nth-of-type(2){
			width: 35%;
		}
		&:nth-of-type(3){
			width: 18%;
		}
		&:nth-of-type(4){
			width: 18%;
		}
		&:nth-of-type(5){
			width: 13%;
		}
		&:nth-of-type(6){
			width: 11%;
		}
	}
	.tbody{
		position: relative;
		text-align: center;
		border-bottom: 2px #555 solid;
		padding: 15px 0;
		.itemname{
			position: relative;
			.name{
				display: inline-block;
				width: 59%;
				line-height: 1.5;
				text-align: left;
				vertical-align: middle;
			}
		}
		.type,.size{
			position: relative;
			top: 14px;
			display: block;
			width: 100%;
			padding: 0 15px;
			text-align: center;
			line-height: 1.5;
		}
		img{
			display: inline-block;
			width: 38%;
			max-width: 127px;
			vertical-align: middle;
			margin-right: 3%;
		}
		.numbox{
			display: inline-block;
			vertical-align: middle;
			height: 30px;
			line-height: 30px;
			.plus,.minus{
				display: inline-block;
				width: 30px;
				text-align: center;
				border: @border;
				cursor: pointer;
			}
			.num{
				width: 60px;
				text-align: center;
				border-top: @border;
				border-bottom: @border;
			}
		}
		.del{
			display: inline-block;
			width: 100px;
			text-align: center;
		}
		.xiaoji{
			padding: 0 15px;
		}
	}
}
.orderlist{
	margin-top: 0;
	margin-bottom: 40px;
	.tbody{
		border-bottom: @border;
		&>div{
			&:nth-of-type(1){
				width: 35%;
			}
			&:nth-of-type(2){
				width: 30%;
				margin-left: 5%;
			}
			&:nth-of-type(3){
				width: 12%;
			}
			&:nth-of-type(4){
				width: 8%;
			}
			&:nth-of-type(5){
				width: 10%;
			}
		}
		.btn{
			display: inline-block;
			height: 60px;
			line-height: 60px;
			width: 45%;
			margin-right: 5%;
			border: @border;
		}
	}
}
@media (max-width:@MinWidth){
	.chartlist{

	}
}
.selectall{
	float: left;
	margin-left: 2%;
	input{
		margin-right: 15px;
	}
}
.sumbox{
	float: right;
	margin-right: 35px;
	text-align: right;
	margin-bottom: 180px;
	.price{
		font-size: 30px;
	}
	#balance{
		display: inline-block;
		width: 180px;
		height: 60px;
		line-height: 60px;
		margin-top: 30px;
		text-align: center;
		border: @border;
		font-size: 25px;
	}
}
h4.title{
	position: relative;
	font-size: 23px;
	font-weight: normal;
	line-height: 2;
	border-bottom: 2px #555 solid;
	margin-top: 40px;
	a{
		position: absolute;
		right: 3px;
		bottom: 5px;
		display: block;
		float: right;
		font-size: 15px;
	}
}
.addrlist{
	margin-top: 10px;
	line-height: 2;
	li>span{
		margin-right: 5px;
	}
	li.addbtn{
		color: #aaa;
		cursor: pointer;
	}
}
.payinfo{
	position: relative;
	width: 50%;
	float: left;
	padding-left: 130px;
	line-height: 50px;
	&>div{
		margin-bottom: 30px;
	}
	.label{
		position: absolute;
		left: 0;
	}
	.select{
		position: relative;
		width: 60%;
		height: 50px;
		border: @border;
		padding: 0 10px;
		select{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			-webkit-appearance: none;
			opacity: 0;
		}
	}
	textarea{
		width: 100%;
		height: 147px;
		line-height: 2;
		outline: none;
		padding: 0 5px;
	}
	.radio-group{
		.radio{
			display: inline-block;
			height: 50px;
			padding: 0 5%;
			border: @border;
		}
	}
}
.submitbox{
	float: right;
	width: 40%;
	border: @border;
	padding: 15px 30px;
	margin-bottom: 120px;
	li{
		line-height: 50px;
		.label,.acount{
			display: inline-block;
			width: 49%;
		}
		.acount{
			text-align: right;
		}
	}
	.submit{
		display: block;
		width: 200px;
		height: 50px;
		margin: 5px auto 0;
		line-height: 50px;
		text-align: center;
		border: 2px #999 solid;
		border-radius: 3px;
		font-size: 20px;
	}
}