/**
 * Create by kirika 2016.3.24 for healc
 * style for index,howto
 **/
.loginbox {
  position: absolute;
  bottom: 75px;
  width: 100%;
  text-align: center;
}
.loginbox .register {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  background-color: #ccc;
  border-radius: 5px;
  border: 1px #999999 solid;
}
.loginbox .login {
  display: inline-block;
  margin-top: 20px;
  color: #333;
}
.pxm dt {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px #999999 solid;
  text-align: center;
}
.pxm dt span {
  display: inline-block;
  width: 33%;
}
.pxm dd {
  padding: 40px 0;
  text-align: center;
}
.pxm dd img {
  width: 66%;
}
.container {
  position: relative;
  width: 100%;
  max-width: 980px;
  margin: 60px auto 170px;
}
.container:after {
  display: block;
  content: " ";
  clear: both;
}
.container h4 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}
.qalist {
  width: 25%;
  float: left;
  border: 1px #999999 solid;
  border-bottom: none;
}
.qalist li {
  padding: 10px;
  line-height: 1.5;
  border-bottom: 1px #999999 solid;
}
.qa {
  width: 69%;
  float: right;
}
.qa dl {
  display: none;
  margin-bottom: 20px;
}
.qa dl.current {
  display: block;
}
.qa dt {
  font-size: 30px;
  padding-bottom: 15px;
  border-bottom: 1px #999999 solid;
}
.qa dd {
  padding-top: 15px;
  line-height: 1.7;
}
@media (max-width: 760px) {
  .qalist {
    width: 100%;
    background-color: #fff;
  }
  .qa {
    width: 100%;
  }
  .qa dl {
    display: block;
  }
}
